<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div class="backofthebox">
	<br>
	<br>
	<br>
	<div class="boxshadow">
		<br>
		<div class="center">
			<img src="/images/logo.png"> 
		<p></p>
			{{{body}}}
		<p></p>
		<footer class="login-form-group">
			<p>&copy; QmeIn, Inc.</p>
		</footer>
		</div>
	 </div>
	 <br>
	 <br>
	 <br>
	</div>
</body>
</html>
