<!DOCTYPE html>

<form method="post" action="/loginuser">
  <div class="qform">
    <input type="text" class="form-control" name="username" placeholder="email">
  </div>
  <div class="qform">
    <input type="password" class="form-control" name="password" placeholder="password">
  </div>
  <button class="qbutton" type="submit"><span>Submit</span></button>
</form>
<p></p>
<form action="/register">
<button class="qbutton" type="submit"><span>Register</span></button>
</form>
